.navbar {
    width: 100%;
  
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    padding: 24px 40px;
  
    position: fixed;
    top: 0;
    left: 0;
  
    z-index: 1000;
  
    background: rgba(0,0,0,0.4);
  
    backdrop-filter: blur(10px);
  
    border-bottom: 1px solid rgba(255,255,255,0.06);
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
  
    color: white;
  }
  
  .nav-links {
    display: flex;
    gap: 24px;
  }
  
  .nav-links a {
    color: #d1d1d1;
  
    text-decoration: none;
  
    transition: 0.3s;
  }
  
  .nav-links a:hover {
    color: white;
  }
  
  /* MOBILE */
  
  @media (max-width: 768px) {
  
    .navbar {
      padding: 20px;
    }
  
    .nav-links {
      display: none;
    }
  
  }